{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    {% for game in games %}
    <h2>{{ game.title }}</h2>
        {% if request.user.is_authenticated %}
            <a href="{% url 'games:edit' slug=game.slug %}">Editer</a>
            <a href="{% url 'games:delete' slug=game.slug %}">Supprimer</a>
        {% endif %}
    <h3>{{ game.editor }}</h3>
    <h3>{{ game.developper }}</h3>
<form action="{% url 'games:detail' slug=game.slug %}">
    <input type="submit" value="Détail">
</form>
    <br>
    {% endfor %}
{% endblock %}